/*header*/
.Navegacion {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* Lista de navegación */  
        .ListaItem{
        font-family: 'Bebas Neue', sans-serif;
        color: white; /* Cambiamos el color del texto para que sea visible en el fondo negro */
        color: map-get($estilos, color);
        text-align: center;
        font-size: 1.3rem; /* Aumentamos el tamaño del texto */
        padding: 5px; /* Reducimos el espacio interno para que no ocupe demasiado */
        margin: 10px;
        display: inline-block;
        flex-direction: column;
        justify-content: center;
            /* Etiqueta ancla de la lista de navegación */
            .ListaItem a:hover {
                color: orange;    
        }   
    }   
}
/*parrafo donde se hace propaganda*/
nav ul li a{
    text-decoration-color: orange;
    color: rgb(255, 255, 255);
    color: map-get($estilos, color);;
}
/*titulo de las paginas*/
.TituloIndex{
    text-align: center;
    color: white;
    color: map-get($estilos, color);
    font-size: 3.2rem;
    margin-top: -8px;
}
/*etiqueta ancla padre del lofo de la pagina*/
.LogoPadre{
    display: flex;
    justify-content: center;
    background-color: black;
    color: black;
}
/*logo de la pagina*/
.LogoPagina{
    background-color: black;
    color: black;
    font-size: map-get($estilos, 1rem);
    display: flex;
    justify-content: center;
    width: 300px;
    height: 250px;
}
/*foto grande en pagina principal*/
.FotoPrincipal{ 
    font-size: map-get($estilos, 1rem);
    padding: 20px 120px;
}   
/*fin del header*/