.Navegacion {
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;

    .ListaItem {
        font-family: 'Bebas Neue', sans-serif;
        @include TextoBlanco;
        text-align: center;
        font-size: 1.3rem;
        padding: 5px;
        margin: 10px;
        display: inline-block;
        flex-direction: column;
        justify-content: center;

        a:hover {
            color: orange;
        }
    }
}

.TituloIndex {
    @include TituloEstilos;
}

.LogoPadre {
    display: flex;
    justify-content: center;
    background-color: black;
    color: black;
}

.LogoPagina {
    @include LogoEstilos;
}

.FotoPrincipal {
    @include FotoPrincipalEstilos;
}