$color: rgb(58, 58, 58); 
$colordos: white;
$rem: 1rem;
$centro: center;

/*map*/
$redes:(
    facebook: blue,
    instagram: rgb(196, 14, 251),
    twitter: rgb(0, 153, 255)
);

$estilos:(
    1rem: 1rem,
    centro: center,
    color: rgb(58, 58, 58),
    colordos: white
);